/* GLOBAL CSS  */
:root {
    --primary-color: #35a22c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    font-family: 'Hind', sans-serif;
    color: #212529;
    line-height: 1.5;
}

.section-heading {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

.section-heading h2 {
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600;
}

.section-heading p {
    color: #585858;
    line-height: 24px;    
}

/* ---------------- */
header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

header .navbar-brand i {
    font-size: 45px;
    color: var(--primary-color);
}

header .navbar-brand span {
    font-size: 36px;
}

header .nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: all .5s;
}

header .nav-item:hover::after {
    width: 100%;
}

#navbarPort .nav-item .nav-link {
    color: #fff;
}

#navbarPort .nav-item .nav-link:hover {
    color: var(--primary-color);
}

#navbarPort .nav-item.active .nav-link {
    color: var(--primary-color);
}

#navbarPort .active.nav-item::after {
    width: 100%;
}

.navbar .toggler__icon {
    font-size: 24px;
    color: #fff;
    opacity: 0.5;
}

.navbar .navbar-toggler {
    background-color: var(--primary-color);
    box-shadow: none;
}

.navbar .navbar-toggler:focus {
    background-color: #0ea8cf;
}

/* CAROUSEL  */
#mainCarousel .overlay {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(39,43,54,.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


#mainCarousel .carousel-caption {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

#mainCarousel .carousel-item:nth-child(1)::before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/finland.jpg');
    background-position: center;
    background-size: cover;
}

#mainCarousel .carousel-item:nth-child(2)::before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/mountains.jpg');
    background-position: center;
    background-size: cover;
}

#mainCarousel .carousel-item:nth-child(3)::before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/mountains-1.jpg');
    background-position: center;
    background-size: cover;
}

#mainCarousel img {
    width: 140px;
    height: 140px;
}

#mainCarousel h5 {
    font-size: 56px;
    line-height: 65px;
}

#mainCarousel p {
    font-size: 24px;
}

#mainCarousel button {
    width: 13px;
    height: 13px;
}

#mainCarousel button.active {
    background-color: var(--primary-color);
}

/* PROJECT  */
.project .nav-item {
    margin: 0 5px;
}

.project button {
    border: 1px solid #1a1d2d;
}

.project .nav-link.active {
    background-color: var(--primary-color);
    border: none;
}

.project .nav-item button {
    color: #1a1d2d;
}

.project__item {
    margin-top: 30px;
    border-radius: 16px;
    overflow: hidden;
}

.project__item .card-body {
    padding: 20px;
    text-align: center;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 0 0 16px 16px;
}

.project__item:hover .card-body {
    border-color: var(--primary-color);
    border-radius: 0 0 16px 16px;
}

.project__item p {
    color: #585858;
}

/* FEATURE  */
.feature {
    background-image: url('../img/3.jpg');
    background-size: cover;
    padding: 100px 0 120px;
    background-attachment: fixed;
    position: relative;
}

.feature .overlay {
    background-color: rgba(7,10,12,.72);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.feature .section-heading {
    position: relative;
}

.feature-section {
    position: relative;
}

.feature__item {
    background-color: rgba(255,255,255,.1);
    padding: 40px;
    border-radius: 10px;
    transition: all .5s;
    border: 1px solid rgba(255,255,255,.1)  ;
}

.feature__item:hover {
    background-color: #000;
    border: 1px solid #fff;
}

.feature__item i {
    font-size: 48px;
    color: var(--primary-color);
}

.feature__item .card-subtitle {
    font-size: 20px;
    color: #fff;
    padding-top: 25px;
    font-weight: 800;
    margin-bottom: 8px;
}

.feature__item .card-text {
    color: #fff;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 15px;
}

/* AWARD  */
.award {
    padding: 70px 0;
    position: relative;
}

.award-bg {
    background-image: url('../img/memphis_3.png');
    background-size: 50% auto;
    background-position: bottom left;
    background-repeat: no-repeat;
    opacity: .5;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.award-left, .award-right {
    padding: 45px;
    position: relative;
    color: #585858;
}

.award-left {
    box-shadow: 0 0 30px 0 rgba(0,0,0,.3);
    backdrop-filter: blur(3px);
    border-radius: 10px;
}

/* FOOTER  */
footer {
    background: #222;
    color: #aaa;
}

footer .footer__top {
    margin-bottom: 30px;
}

footer a {
    text-decoration: none;
    color: #aaa;
}

footer .footer__icon a {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid #454545;
    text-align: center;
    line-height: 42px;
    margin-right: 10px;
}

footer .footer__bottom {
    padding-top: 30px;
    border-top: 1px solid #454545;
}